body {
	margin: 0;
}

#map {
	background-color: lightgreen;
	width: 100%;
	height: 100%;
}

#file-upload-overlay {
	position: absolute;
	top: 100px;
	left: 100px;
	right: 100px;

	padding: 10px;
	background-color: lightgrey;


	box-shadow: 0 0 10px 4px black;
	border-radius: 4px;

	z-index: 1000;
}

#file-text-input {
	width: 100%;
	height: 200px;
}